/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-title-color: #DB00FF;
  --content-subtitle-text-color: #000028;
  --content-title-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --main-gap: 10px;
  --button-text-color: #FF0070;
  --main-font: 'IBM Plex mono';
  --bg-color:#000028;
}

/* Остальные стили */







