/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-title-color: #FFC2E6;
  --content-subtitle-text-color: #353430;
  --content-title-color: #353430;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --main-font: 'IBM Plex mono';
  --display-color: transparent;
  background-image: url(../images/cover-image-light.png);
  background-color: #F1B2CE;
}

:root.theme-light {
  /* Переменные светлой темы */ 
  --main-title-color: #FFC2E6;
  --content-subtitle-text-color: #353430;
  --content-title-color: #353430;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --main-font: 'IBM Plex mono';   
}

/* Остальные стили */

.decorated-element {
  color: var(--display-color);
}

.decorated-element::before {
  color: var(--display-color);
}

.decorated-element::after {
  background-color: var(--display-color);
}


@media (prefers-color-scheme: light) {
:root {
      /* Дублируем переменные светлой темы */    
      --main-title-color: #FFC2E6;
  --content-subtitle-text-color: #353430;
  --content-title-color: #353430;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --main-font: 'IBM Plex mono'; 
  }
  .page.theme_light {
    --main-title-color: #FFC2E6;
    --content-subtitle-text-color: #353430;
    --content-title-color: #353430;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --button-text-color: #353430;
    background-image: url(../images/cover-image-light.png);
    background-color: #F1B2CE;
  }
  
}

/* Остальные стили */