/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,переключая тему .page.theme_light
*/


.page.theme_light {
  --main-title-color: #FFC2E6;
  --content-subtitle-text-color: #353430;
  --content-title-color: #353430;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --main-font: 'IBM Plex mono';
  --display-color: transparent;
  --bg-color: #FFF1F7;
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #FFC2E6;
    --content-subtitle-text-color: #353430;
    --content-title-color: #353430;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --button-text-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --main-font: 'IBM Plex mono';
    --bg-color: #FFF1F7;
  }

  .page.theme_auto {
    --display-color: transparent;
    background-image: url(../images/cover-image-light.png)
  }
}








