/*                           Основные стили проекта. Это стили для темы, которую вы верстаете первой.                            */

/* ========================== WORK ON 'page' ========================== */

.page {
  padding: var(--main-gap);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color, #F1B2CE);
  font-family: var(--main-font, Arial, Helvetica, sans-serif);
  font-size: 18px;
  font-weight: 400;
}

/* ========================== WORK ON 'header' ========================== */

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-auto-rows: min-content;
  gap: calc(4 * var(--main-gap));
  margin-block-end: calc(3 * var(--main-gap));
}

.decorated-zone::before {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--button-text-color, #FF0070);
  border-block-end: 1px solid var(--button-text-color, #FF0070);
  inset-block-end: 0;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--button-text-color, #FF0070);
  border-block-start: 1px solid var(--button-text-color, #FF0070);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-element {
  justify-self: end;
  color: var(--display-color, #FF0070);
}

.decorated-element::before {
  content: "REC";
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 25px;
}

.decorated-element::after {
  content: '';
  inline-size: 9px;
  inset-block: 9px;
  padding: 6px;
  margin: 8px;
  background-color: var(--accent-color, #FF0070);
  clip-path: circle();
}

.header__theme-menu {
  margin-block-end: calc(2.5 * var(--main-gap));
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
}

.header__theme-menu-button {
  height: 26px;
  padding: 0 13px;
  color: var(--button-text-color, #FF0070);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button,
a:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-text-color, #FF0070);
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
}

.header-title {
  margin-block-end: calc(1.5 * var(--main-gap));
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--main-title-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  line-height: 95.7px;
}

.header-text {
  justify-self: end;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--subtitle-text-color, #000028);
}

/* ========================== WORK ON 'main' section ========================== */

.main-content {
  display: grid;
  gap: calc(5 * var(--main-gap));
  margin-block-end: calc(5 * var(--main-gap));
}

.content-section {
  display: grid;
  gap: calc(2 * var(--main-gap));
}

.block-text {
  display: grid;
  gap: calc(2 * var(--main-gap));
}
/* .block-text-why {
  display: grid;
  gap: calc(2 * var(--main-gap));
}

.block-text-reasons-why {
  display: grid;
  gap: calc(2 * var(--main-gap));
}

.block-text-solutions-steps {
  display: grid;
  gap: calc(2 * var(--main-gap));
} */

.block-text-section {
  display: grid;
  gap: var(--main-gap);
}

.block-section-subtitle {
  color: var(--content-subtitle-text-color, #000028);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 23.4px;
}

.content-section-title {
  color: var(--content-title-color, #FF0070);
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section-subtitle {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 23.4px;
}

.content-section-text a {
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.section-images {
  display: flex;
  flex-direction: column;
  gap: calc(0.8* var(--main-gap));
}

.block-section-images {
  display: grid;
  /* gap:calc(2 * var(--main-gap)); */
  gap: var(--main-gap);
}

img {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ========================== WORK ON 'footer'  ========================== */

footer {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer-title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  line-height: 95.7px;
  text-align: center;
  color: var(--main-title-color, #DB00FF);
}

/*                                                  GENERAL MEDIA QUERIES STYLE                                              */

/* ####################################### WORK ON 'Tablet' mediaqueries ####################################### */


@media (width >=600px) {

  /* ######################## WORK ON 'page' ######################## */

  .page {
    padding: calc(2 * var(--main-gap));
  }

  /* ######################## WORK ON 'header' ######################## */

  .header {
    /* margin-block-end: calc(8 * var(--main-gap)); */
    margin-block-end: calc(4 * var(--main-gap));
  }

  .decorated-element {
    margin-block-end: calc(10.5 * var(--main-gap));
  }

  .header__theme-menu {
    margin-block-end: calc(13.8 * var(--main-gap));
  }

  .header-title {
    margin-block-end: calc(12.3 * var(--main-gap));
    margin-left: -18px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    inline-size: 364px;
    margin-block-end: calc(16.3 * var(--main-gap));
  }

  /* ######################## WORK ON 'main' ######################## */

  .main-content {
    gap: calc(8 * var(--main-gap));
    margin-bottom: 60px;
    /* margin-block-end: calc(7.8 * var(--main-gap)); */
  }

  /* .first-section {
    grid-template-columns: 236px 2fr;
  } */

  .why {
    grid-template-columns: 236px 2fr;
  }

  /* .block-text-why {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--main-gap));
  } */

  /* .block-text-reasons-why {
    display: grid;
    gap: calc(2 * var(--main-gap));
  } */

  .content-section-title {
    max-inline-size: 236px;
  }

  /* .third-section {
    grid-template-columns: 236px 2fr;
  } */

  .solutions-steps {
    grid-template-columns: 236px 2fr;
  }

  /* .block-text-solutions-steps {
    display: grid;
    gap: calc(2 * var(--main-gap));
  } */

  /* ######################## WORK ON 'images' ######################## */

  .section-images {
    gap: calc(2 * var(--main-gap));
  }

  .block-section-images {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .sunset-position {
    grid-column: 1 / 3;
  }

  .ice-cream-position {
    grid-column: 3 / 4;
    grid-row: -4 / -2;
  }

  .tape-position {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .street-position {
    grid-column: 2 / 4;
  }

  /* ######################## WORK ON 'footer' ######################## */

  .footer {
    /* min-block-size: 984px; */
    min-block-size: 1024px;
  }

  .footer-title {
    line-height: 99px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* ******************************************** WORK ON 'desktop' mediaqueries ******************************************** */

@media (width > 900px) {

  /* ******************* WORK ON 'header' ******************* */

  .header {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .decorated-element {
    grid-column: 3 / 4;
  }

  .header__theme-menu {
    block-size: 172px;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-title {
    grid-column: 1 / 4;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    inline-size: 491px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    margin-bottom: 114px
  }

  /* ******************* WORK ON 'main' section ******************* */

  /* .first-section {
    grid-template-columns: 315px 1fr;
  } */

  .why {
    grid-template-columns: 315px 1fr;
  }

  .content-section-title {
    max-inline-size: 315px;
  }

  .content-section-subtitle {
    line-height: 23.4px;
  }

  .block-text-reasons-why {
    grid-template-columns: repeat(3, 1fr);
  }

  .block-text-section {
    grid-template-rows: auto 1fr;
  }

  /* .third-section {
    grid-template-columns: 315px 1fr;
  } */

  .solutions-steps {
    grid-template-columns: 315px 1fr;
  }

  /* ******************* WORK ON 'footer' ******************* */

  .footer {
    /* min-block-size: 730px; */
    min-block-size: 768px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer-title {
    line-height: 129.53px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}